@inherits LayoutComponentBase

<main>
    @Body
</main>

<footer id="attribution" class="w3-hide-small">
    <div class="w3-row">
        <div class="w3-third">
            Sudoku
        </div>
        <div class="w3-twothird" style="text-align: right;">
            Version @System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version
        </div>
    </div>
</footer>